body {
    font-family: 'Poppins', sans-serif;
  }
  
  form {
    margin: 50px auto;
    width: 600px;
  }

  .autocompletar {
    position: relative;
    display: inline-block;
  }

  .autocompletar input[type=text] {
      padding-left: 50px;
  }

  .autocompletar i {
      position: absolute;
      left: 0;
      top: 8px;
      padding: 5px 20px;
      color: #aaa;
      transition: 0.3s;
      font-size: 1.7em;
  }

  .autocompletar input[type=text]:focus + i {
      color: dodgerblue;
  }
  
  strong {
    color: black;
  }
  
  #tipo-palabra {
    background-color: #eee;
    border: none;
    border-radius: 30px;
    font-size: 1.7em;
    padding: 10px 55px;
    outline: none;
    width: 550px;
  }
  
  .lista-autocompletar-items {
    color: #ccc;
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    z-index: 99;
  
    top: 60%;
    left: 20px;
    right: 0;
    width: 93%;
  }
  
  .lista-autocompletar-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  
  .lista-autocompletar-items div:hover {
    background-color: dodgerblue;
  }
  
  .autocompletar-active {
    background-color: dodgerblue !important;
    color: #a1caff;
  }
  
  .autocompletar-active strong{
    color: #fff;
  }